/* GLOBAL RESET */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
}

/* MAIN APP CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

/* NAVIGATION (index.html ke liye) */
nav {
  display: flex;
  flex-wrap: wrap;
  background: #222;
}

nav a {
  flex: 1;
  padding: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  background: #007bff;
}
